.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  .header-container {
    display: flex;
    align-items: center;
    z-index: 1;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0.875rem 1.0625rem 0.8125rem 1.0625rem;

    // Style par défaut (sans goback)
    .logo-container {
      margin: 0 auto;
    }

    // Style quand goback est présent
    &--with-goback {
      .goback-container {
        display: flex;
        position: absolute;
        left: 1.06rem;
        transition: scale, opacity $transition-duration ease;
        &:hover {
          scale: 1.03;
          cursor: pointer;
          opacity: 0.95;
        }
      }
    }
  }
  &--with-location {
    .location-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.0625rem;
      background-color: $color-grey-2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      img {
        height: 1rem;
      }

      p {
        font-family: $font-text;
        font-size: $font-size-1;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $color-grey-1;
      }
    }
  }
}

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.37rem 1.875rem 3.62rem 1.875rem;
  gap: 1.9375rem;
  &--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    &--title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rem 2rem;
      .title {
        text-align: center;
      }
    }

    .subtitle {
      margin: 0;

      font-family: $font-text;
      font-size: $font-size-1_06;
      font-weight: 300;
      line-height: normal;
      text-align: center;
      line-height: normal;
    }
  }
}

.section-fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  gap: 1.9375rem;

  &--container {
    display: flex;
    flex-direction: column;
    gap: 1.62rem;
  }

  .steps-container {
    padding-left: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.56rem;
  }
}

.section-restaurants {
  display: flex;
  flex-direction: column;
  padding: 3.38rem 1.25rem 4.12rem 1.25rem;

  &--container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .restaurants-container {
    display: flex;
    flex-direction: column;
    gap: 1.13rem;
  }
}

.main-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-menu {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.94rem 0.88rem 2.5rem 0.88rem;
  max-width: 65.9375rem;
  width: calc(100% - (0.88rem * 2));

  position: relative;
  margin-top: -3.437rem;
  border-radius: 2.5rem 2.5rem 0rem 0rem;

  background: $color-grey-2;

  .restaurant-info {
    display: flex;
    justify-content: space-between;
    max-width: 39.625rem;
    align-items: center;
    width: calc(100% - (0.88rem * 2));
    padding: 0rem 1.5rem 0rem 0.25rem;

    .restaurant-info--title {
      font-size: $font-size-1_75;
      font-family: $font-title;
      font-weight: 400;
    }

    .heart-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menus {
    max-width: 39.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
  }
}

.footer {
  display: flex;
  padding: 1.375rem 1.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.1rem;

  background: var(--Grey, #353535);

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.4575rem;

    .links-icons,
    .links-text {
      display: flex;
      flex-direction: column;
      gap: 0.4575rem;
    }
    .footer-link {
      transition: opacity $transition-duration ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (min-width: 1024px) {
  .section-menu {
    .restaurant-info {
      max-width: 19.1875rem;
      justify-content: center;
      gap: 1.5rem;
    }
  }

  .footer {
    align-items: center;
    justify-content: end;
    padding: 2.97rem 4.12rem;
    flex-direction: row-reverse;
    .logo {
      width: 6.063rem;
      height: auto;
    }
    .footer-links {
      flex-direction: row;
      gap: 2.69rem;
      padding-right: 4.62rem;
      .links-icons {
        display: flex;
        flex-direction: row;
        gap: 0.94rem;
      }
      .links-text {
        display: flex;
        flex-direction: row;
        gap: 0.94rem;
      }
    }
  }

  .section-fonctionnement {
    padding: 3.12rem 11.25rem;
    align-items: center;
    &--container {
      width: 100%;
      max-width: 65.8125rem;

      .steps-container {
        flex-direction: row;
        width: 100%;
        gap: 2.28rem;
        .step {
          width: 100%;
        }
      }
    }
  }

  .section-restaurants {
    padding: 1.88rem 11.25rem;
    align-items: center;
    &--container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 65.8125rem;
      gap: 1.75rem;
      .restaurants-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6.25rem;
        row-gap: 3.13rem;

        .restaurant-card {
          width: 100%;
        }
      }
    }
  }
}
