$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$gradiant-primary: linear-gradient(
  193deg,
  $color-primary -11.44%,
  $color-secondary 123.93%
);

$gradiant-secondary: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  ),
  linear-gradient(201deg, $color-primary -5.2%, #ff79da 110.74%);

$color-background: #f6f6f6;
$color-grey-1: #353535;
$color-grey-2: #eaeaea;
$color-grey-3: rgb(242, 242, 242);

$font-title: "Shrikhand", cursive;

$font-text: "Roboto", sans-serif;
$font-size-0_94: 0.94019rem;
$font-size-1: 1rem;
$font-size-1_06: 1.0625rem;
$font-size-1_12: 1.125rem;
$font-size-1_5: 1.5rem;
$font-size-1_75: 1.75rem;

$check-width: 3.6875rem;
$transition-duration: 0.3s;
